@import "tailwindcss";

@theme{
    --color-primary: #3490dc;
    --color-secondary: #2ecc71;
    --color-accent: #e67e22;
}

/*Customize the entire scrollbar*/
::-webkit-scrollbar {
    width: 8px /*Set width of scrollbar*/;
}

/*Customize the scrollbar track (background)*/
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/*Customize the scrollbar thumb (the draggable part)*/
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}