@import "tailwindcss";

@theme{
    --color-primary: #dddddd;
    --color-secondary: #5c5c5c;
    --color-accent: #363636;
    --color-gold: #f6b128;
}

/*Customize the entire scrollbar*/
::-webkit-scrollbar {
    width: 8px /*Set width of scrollbar*/;
}

/*Customize the scrollbar track (background)*/
::-webkit-scrollbar-track {
    background-color: transparent;
}

/*Customize the scrollbar thumb (the draggable part)*/
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}